<ion-content padding>
    <ion-card>
        <ion-card-header>
            Today's Caffeine Intake/Limit
        </ion-card-header>

        <ion-card-content>
            <ion-item>
                <h1>250mg</h1>
                <hr/>
                <h1 class="red">450mg</h1>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
            <ion-list *ngIf="searchResults">
                <ion-item *ngFor="let item of searchResults" (click)="selectItem(item)">
                    <span item-label>{{ item.name }}</span>
                    <ion-badge item-content>{{ item.fl_oz }}oz / {{item.totalCaffeine}}mg</ion-badge>
                </ion-item>
            </ion-list>
        </ion-card-header>
    </ion-card>

    <ion-card *ngIf="todaysEntries && todaysEntries.length > 0">
        <ion-card-header>
            Today's Intake History
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-card *ngFor="let entry of todaysEntries">
                    <ion-card-header>
                        <h1>{{(entry.timestamp | amFromUnix)| amDateFormat: 'hh:mmA'}}</h1>
                    </ion-card-header>
                    <ion-card-content>
                        <h2>{{entry.item.name}} -
                            <span> {{entry.item.totalCaffeine}}mg</span>
                        </h2>
                    </ion-card-content>
                </ion-card>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>